<!doctype html>
<title>{% block title %}{% endblock %}</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!-- LOAD GOOGLE ICON -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CUSTOM STYLESHEET -->
<style>
    input[type=submit] {
        color: white;
        cursor: pointer;
    }

    input.hide-checkbox {
        display: none
    }

    div #loading {
        display: none;
        cursor: wait;
    }

    #loading img {
        display: block;
        margin: auto;
    }

    #complete img {
        width: 150px;
        height: auto;
        display: block;
        margin: auto;
    }
</style>

<!-- Navigation Bar -->
<nav class="purple darken-1">
    <div class="nav-wrapper">
        <a href={{ url_for( 'index') }} class="brand-logo center">VideoToHalal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            {% block navbar %}{% endblock %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href={{ url_for( 'index') }}>Mulai Prediksi</a>
    </li>
</ul>

<!-- Content -->
<section class="content">
    <div class="container">
        {% block header %}{% endblock %} {% block content %}{% endblock %}
    </div>
</section>

<!-- TRIGGER NAVBAR -->
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

<!-- PREVENT LOGIN -->
<script type="text/javascript">
function validation() {
    var x;
    x = document.getElementById("video-input").value;
    if (x == "") {
      // alert("Enter a Valid Roll Number");
      M.toast({html: 'Tolong, Pilih video sebelum upload!', classes: 'red'})
      console.log("Tolong, Pilih video sebelum upload!")
      return false;
    };

    $("#loading").show();
    $("#title").hide();
    $("#content").hide();
  }
</script>

<!-- SHOW LOADING -->
<script type="text/javascript">
  function loading() {
      $("#loading").show();
      $("#title").hide();
      $("#content").hide();
    }
</script>

<!-- Footer -->
<div class="row" style="margin-bottom: 30px; margin-top: 50px">
    <div class="col s12 m10 offset-m1">
        <div class="footer-copyright grey-text center-align">
            © 2018. HAAR FEATURE PORN DETECTION - ALIF ARYA WIRANDA
        </div>
    </div>
</div>
