{% extends 'base.html' %} {% block navbar %}
<li class="">
    <a href={{ url_for( 'index') }}>
        <i class="material-icons left">home</i>Mulai Prediksi</a>
</li>
{% endblock %} {% block header %} {% endblock %} {% block content %}

<h3 id="title">{% block title %}Hasil Deteksi - {{ video }} {% endblock %}</h3>

<div id="content" class="card">
        <div class="card-content">
          <video class="responsive-video" controls>
            <source src="/static/{{ video }}" type="video/mp4">
          </video>
        </div>
        <div class="card-action">
            <a href={{ url_for( 'index') }} class="waves-effect waves-light btn">
              Prediksi Video Lain
            </a>
        </div>
</div>
<div class="row">
   <div class="col s6">
     <ul class="collection with-header">
         <li class="collection-header"><h4>Informasi Video</h4></li>
         <li class="collection-item">Filesize: {{ size }} MB</li>
         <li class="collection-item">Resolusi: {{ resolusi }} </li>
         <li class="collection-item">Durasi: {{ durasi }} </li>
         <li class="collection-item">FPS: {{ fps }} </li>
       </ul>
   </div>
   <div class="col s6">
     <ul class="collection with-header">
         <li class="collection-header"><h4>Informasi Deteksi</h4></li>
         <li class="collection-item">Frame dideteksi: </li>
         <li class="collection-item">Durasi proses:</li>
         <li class="collection-item">Porn persentase: %</li>
       </ul>
   </div>
</div>

{% endblock %}
